@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fiolet:rgba(131,58,180,1);
    --rozowy:rgb(253, 29, 156);
    --rozowy2:rgba(253, 29, 156, 0.5);
}

body{
    font-family: Poppins;
}
.container{
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgb(194, 193, 193);
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    position: absolute;
    left: 25px;
    color: rgb(77, 76, 76);
}
#wykresKolowy {
    /* background: conic-gradient(var(--fiolet)  0% 40%, var(--rozowy)  40% 70%, var(--rozowy2) 70% 100%); */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: -65px;

  }
.w1{
    position: absolute;
    width: 50px;
    display: flex;
    top: 290px;
    left: 30px;
}
.k1{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgba(131,58,180,1); 
}
.k2{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(253, 29, 156);
    margin-top: 15px;
}
.k3{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgba(253, 29, 156, 0.5) ;
    margin-top: 15px;
}
ul li{
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 10px;
}
ul{
    margin-top: -2px;
}